{:paths ["src" "resources"]
 :deps {org.clojure/clojure                {:mvn/version "1.11.2"}
        com.stuartsierra/component         {:mvn/version "1.1.0"}
        io.pedestal/pedestal.service       {:mvn/version "0.7.2"}
        io.pedestal/pedestal.error         {:mvn/version "0.7.2"}
        io.pedestal/pedestal.jetty         {:mvn/version "0.7.2"}
        com.novemberain/monger             {:mvn/version "3.6.0"}
        cheshire/cheshire                  {:mvn/version "5.13.0"}
        org.slf4j/slf4j-api                {:mvn/version "2.0.9"}
        org.slf4j/slf4j-simple             {:mvn/version "2.0.9"}
        org.clojure/tools.logging          {:mvn/version "1.3.0"}
        buddy/buddy-sign                   {:mvn/version "3.6.1-359"}
        buddy/buddy-auth                   {:mvn/version "3.0.323"}
        com.github.sikt-no/clj-jwt         {:mvn/version "0.5.102"}
        ;; AWS SDK for SQS (v2)
        software.amazon.awssdk/sqs         {:mvn/version "2.25.0"}
        ;; Kafka client
        org.apache.kafka/kafka-clients     {:mvn/version "3.7.0"}
        ;; Core.async for concurrent processing
        org.clojure/core.async             {:mvn/version "1.6.681"}
        ;; JSON parsing
        org.clojure/data.json              {:mvn/version "2.5.0"}}
 
 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {io.pedestal/pedestal.service-tools {:mvn/version "0.7.2"}}}
  :test {:extra-paths ["test" "test-resources"]
         :extra-deps {org.testcontainers/testcontainers {:mvn/version "1.19.7"}
                      org.testcontainers/mongodb {:mvn/version "1.19.7"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"
                     "-d" "test"]}
  :run {:main-opts ["-m" "pebbles.system"]}}}